.sent div{
    background-color: #0c97ed;
    border-radius: 10px;
    padding: 10px;
    /* margin: 5px; */
    /* max-width: 80%; */
    align-self: flex-end;
    color: white;
}

.received div{
    background-color: #f1f0f0;
    border-radius: 10px;
    padding: 10px;
    /* margin: 5px; */
    /* max-width: 80%; */
    align-self: flex-start;
}

.received span {
    font-size: 0.7em;
    color: #646464;
    padding-left: 10px;
}
